* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #F6F8F9;
}

/* header */

header {
    background-color: #FFFFFF;

}

.logo * {
    vertical-align: middle;
    padding: 5px;
}

h1  {
    font-size: 30px;
    display: inline-block;
}

/* primo container */

.container {
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 10px 10px 0 0px;
    background-color: #FFFFFF;
    margin-bottom: 0;

}

.container-button {
    margin-left: 20px;
    padding: 20px;
    background-color: transparent;
}

.container-button button {
    background-color: transparent;
    line-height: 23px;
    font-size: 0.6em;
    border-radius: 6px;
    padding: 0 10px;
}

.container-button .selected {
    background-color: #47adf1;
    color: #FFFFFF;
    border: 1px solid #c5e6f9;
}

.container-button .unselected {
    background-color: transparent;
    color: #d8dcdf;
    border: 1px solid #e0e3e6
}
/* Fine primo container */

/* Inizio secondo container */
.container-list {
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 0px 0px 10px 10px;
    background-color: #FFFFFF;
    padding: 30px 50px;
    margin-top: 5px;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px 0;

}

/* Liste */


.title-important::before {
    content: '\23F7';
}

/* Freccia per titoli "li" */

h3 {
    display: inline-block;
}
/* struttura Cerchio per check e uncheck */
.list::before {
    border-radius: 50%;
    font-size: 12px;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    line-height: 13px;
    margin-left: 3px;
    border: 1px solid currentColor;
    display: inline-block;
    text-align: center;
}

/* simbolo e colore del check */
.list.check::before {
    content: '\1F5F8';
    color: #6ac3ad;
}

/* simbolo e colore uncheck */
.list.uncheck::before {
    content: '\2716';
    color: #eb5952;
}

/* struttura dei badge */

.badge {
    color: white;
    padding: 4px 9px;
    text-align: center;
    border-radius: 10px;
    font-size: 0.5em;
    font-weight: lighter;
  }


  .badge.newsletter {
    background-color: #45abe9;
  }

  .badge.goals {
    background-color: #9c72e4;
  }

  .badge.recruiting {
    background-color: #64c0a9;
  }

  .badge.mobile {
    background-color: #f29e33;
  }

  .badge.website {
    background-color: #d863a0;
  }

  .badge.sales {
    background-color: #b0c926;
  }